.support-section{
    padding-top: 75px;
    padding-bottom: 74px;
    background: #184BFF;
    display: flex;
    height: 452px;
    position: relative;

    &__block{
        width: 50%;
        
        .dashboard-laptop-desktop{
            position: absolute;
            top: -24.5px;
            left: 153px;
            z-index: 5;
        }

        .dashboard-laptop-tablet{
            display: none;
        }

        .dashboard-laptop-mobile{
            display: none;
        }

        .icon-left{
            position: absolute;
            left: 570px;
            z-index: 1;
            top: 164px;
        }

        .icon-right{
            position: absolute;
            right: 0;
            top: 82px;
        }

        h2{
            font-family: 'Proxima Nova',sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 52px;
        }

        p{
            margin-top: 12px;
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            max-width: 389px;
        }

        .buttons-block{

            button{
                height: 54px;
                width: 220px;
                font-family: 'Proxima Nova',sans-serif !important;
                font-style: normal !important;
                font-weight: 700 !important;
                font-size: 18px !important;
                line-height: 22px !important;
                background: #F22667;
                border-radius: 12px;
                margin-top: 20px;
            }
        }
    }
}

@media (max-width: 1400px) {
    .support-section{

        &__block{
            width: 50%;

            .dashboard-laptop-desktop{
                display: none;
            }

            .dashboard-laptop-tablet{
                display: block;
                position: absolute;
                top: -75px;
                left: 59px;
                z-index: 5;
            }
    
            .icon-left{
                position: absolute;
                left: inherit;
                right: 180px;
                z-index: 1;
                top: 204px;
            }

            h2{
                text-align: left;
                margin-top: 20px;
            }
    
            p{
                text-align: left;
                margin: 0px !important;
                max-width: 558px;
            }

            .buttons-block{
                display: flex;
                justify-content: left;

                button{
                    width: 188px;
                }
            }
        }
    }
}

@media (max-width:930px) {
    .support-section{
        &__block{
            .dashboard-laptop-tablet{
                width: 320px;
                top: -20px;
                left: 20px;
            } 
        }
    }
}

@media (max-width: 690px) {
    .support-section{
        padding: 100px 15px 41px 15px;
        height: 328px;
        flex-direction: column;

        &__block{
            width: 100%;
            .dashboard-laptop-tablet{
                display: none;
            }
    
            .dashboard-laptop-mobile{
                display: block;
                position: absolute;
                top: -199px;
                left: 50%;
                transform: translate(-50%, 0%);
            }

            h2{
                font-size: 24px;
                line-height: 32px;
                text-align: left;

                br{
                    display: none;
                }
            }
    
            p{
                font-size: 15px;
                text-align: left;
                line-height: 24px;
                margin-top: 8px;
                margin: 0;
            }

            .icon-left{
                display: none;
            }
    
            .icon-right{
                position: absolute;
                right: -50px;
                top: 50px;
                z-index: 1;
            }

            .buttons-block{
                justify-content: start;

                button{
                    width: 188px;
                    font-size: 16px !important;
                }
            }
        }
    }
}