.presentation-eleventh{
    background-image: url(../../../../assets/images/backgrounds/presentation-11.png);
    background-repeat: no-repeat;
    background-position:  center right;
    margin: 20px auto;
    padding: 35px;
    max-width: 1083px;
    min-height: 553px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 20px;

    h3{
        font-family: 'Proxima Nova',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 52px;
    }

    div{
        margin-top: 10px;
        margin-bottom: 25px;
        display: flex;
        max-width: 750px;
        align-items: center;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 20px;
        backdrop-filter: blur(49.5px);
        padding: 10px;

        img{
            margin-right: 20px;
        }
    }
}

@media (max-width: 1200px) {
    .presentation-eleventh{
        background-size: 400px 600px;
        background-position: bottom right;
        min-height: auto;
        h2{
            font-weight: 800;
            font-size: 15px;
            line-height: 24px;
            letter-spacing: 0.23em;
            color: #AFC6FF;
            display: block;
            margin-top: 16px;
    
            span{
                font-size: 25px;
                line-height: 30px;
            }
        }

        p{
            font-size: 15px !important;
        }
    }
}

@media (max-width: 800px) {
    .presentation-eleventh{
        background-size: 200px 400px;
        background-position: bottom right;
        min-height: auto;
        h2{
            font-weight: 800;
            font-size: 15px;
            line-height: 24px;
            letter-spacing: 0.23em;
            color: #AFC6FF;
            display: block;
            margin-top: 16px;
    
            span{
                font-size: 25px;
                line-height: 30px;
            }
        }

        h3{
            font-size: 25px;
            line-height: 30px;
        }

        p,div{
            font-size: 15px !important;

            svg{
                width: 15px !important;
                height: 15px !important;
            }
        }
    }
}