.presentation-second{
    background-image: url(../../../../assets/images/backgrounds/presentation-2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 30px auto;
    padding: 35px;
    max-width: 1083px;
    min-height: 553px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 20px;

    h2{
        font-weight: 800;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.23em;
        color: #AFC6FF;
        display: block;
        margin-top: 16px;

        span{
            font-family: 'Proxima Nova',sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 47px;
            line-height: 53px;
            color: #fff;
        }
    }

    p{
        margin-top: 24px;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: #BFBFC1;
        max-width: 450px;
    }
}

@media (max-width: 950px) {
    .presentation-second{
        p{
            background: rgba(255, 255, 255, 0.1);
            -webkit-backdrop-filter: blur(49.5px);
            backdrop-filter: blur(49.5px);
            border-radius: 17px;
            padding: 10px 20px;
        }
    }
}

@media (max-width: 800px) {
    .presentation-second{
        background-size: 600px 400px;
        background-position: bottom;
        min-height: auto;
        h2{
            font-weight: 800;
            font-size: 15px;
            line-height: 24px;
            letter-spacing: 0.23em;
            color: #AFC6FF;
            display: block;
            margin-top: 16px;
    
            span{
                font-size: 25px;
                line-height: 30px;
            }
        }

        p{
            font-size: 15px;
        }
    }
}