.landing-header{
    height: 95px;
    position: relative;
    z-index: 10;
    background: linear-gradient(90deg, #1A1B20 1.92%, rgba(26, 27, 32, 0) 3.87%), linear-gradient(180deg, #1A1B20 0%, rgba(26, 27, 32, 0) 100%);

    &__logo{
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 32px;
        padding-bottom: 35px;
    }

    &__block{
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        height: 100%;
        margin: 0 auto;

        &-info{
            display: flex;
            padding-top: 19px;

            p{
                padding-top: 5px;
                padding-left: 140px;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
            }

            .contract-info{
                background: rgba(255, 255, 255, 0.1);
                height: 27px;
                color: #717275;
                border-radius: 4px;
                padding: 0px 8px;
                margin-left: 22px;

                span{
                    margin-left: 10px;
                    color: #fff;

                    a{
                        color: #fff;

                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }
        }

        

        &-login-btns{
            padding-top: 11px;
            a{
                &:nth-child(1){
                    button{
                        width: 145px;
                        background-color: #184BFF;
                        height: 43px;
                        margin-right: 9px;

                        &:hover{
                            opacity: .8;
                        }
                    }
                }

                &:nth-child(2){
                    button{
                        width: 93px;
                        background-color: #184BFF;
                        height: 43px;

                        &:hover{
                            opacity: .8;
                        }
                    }
                }

                .connect-btn{
                    width: 157px !important;
                    height: 43px !important;
                    background-color: #184BFF !important;
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    .landing-header{
        &__block{

            &-info{
        
                p{
                    padding-left: 80px;
                }
            }

            &-login-btns{
                padding-right: 50px;
            }
        }
    }
}

@media (max-width: 964px) {
    .landing-header{
        &__block-info{
            display: none;
        }
    }
}

@media (max-width: 690px) {
    .landing-header{
        position: relative;


        &__block{
            // justify-content: flex-end;

            &-info{
                display: none;
            }

            &-login-btns{
                padding-right: 15px;
            }
        }
    }
}

@media (max-width: 440px) {
    .landing-header{
        &__logo{
            img{
                margin-left: -20px;
                margin-right: -20px;
                width: 130px;
            }
        }
    }
}