.slider-section{
    padding-top: 100px;  
    overflow: hidden;
    padding-bottom: 173px;

    .desktop{
        display: flex;
        position: relative;
        align-items: center;
        margin: 0 auto;
    }

    .mobile{
        display: none;
    }

    img{
        margin-right: 100px;
    }

    &__text{
        margin-right: 30px;
        position: relative;
        z-index: 5;
        h2{
            width: 555px;
            font-family: 'Proxima Nova',sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 52px;
        }

        h3{
            margin-top: 20px;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            width: 389px;
            color: #BFBFC1;
        }

        button{
            margin-top: 20px;
            width: 129px;
            height: 54px;
            background: #184BFF;
            border-radius: 12px;
        }
    }

    .swiper {
        width: 60%;
        height: 100%;
        right: 0;
        position: absolute;
        z-index: 1;
        top: 50px;
    }
        
    .swiper-slide {
        position: relative;
        text-align: center;
        font-size: 18px;
        height: 500px;
        width: 390px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        background: linear-gradient(270deg, rgba(45, 47, 54, 0.5) 15.73%, rgba(85, 86, 90, 0) 55.82%);
        opacity: .1;
        transition: .5s;

        .text-1{
            font-family: 'Proxima Nova',sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 32px;
            color: #fff;
            margin-top: 20px;
        }

        .text-2{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            margin-top: 12px;
        }

        .next{
           display: none;
        }

        .prev{
           display: none;
        }

        &.swiper-slide-active{
            background: #184BFF;
            box-shadow: 0px 83px 106px rgba(0, 31, 142, 0.51);
            opacity: 1;

            .next{
                position: absolute;
                cursor: pointer;
                right: -15px;
                display: block;
            }
    
            .prev{
                position: absolute;
                cursor: pointer;
                left: -15px;
                display: block;
            }

            svg{
                path{
                    fill: #fff;
                    stroke: #fff !important;
                } 
            }
        }

        &.swiper-slide-prev{
            background: linear-gradient(270deg, rgba(45, 47, 54, 0.5) 15.73%, rgba(85, 86, 90, 0) 55.82%);
            opacity: .1;
        }

        &.swiper-slide-next{
            background-color: #282930;
            opacity: 1;
        }
    }
    
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
}

@media (max-width: 1700px) {
    .slider-section{
        .swiper{
            width: 50%;
        }

        .swiper-slide{
            width: 390px !important;
        }
    }
}

@media (max-width: 1400px) {
    .slider-section{
        padding-bottom: 579px;

        &__text{
            margin-right: 30px;
            position: relative;
            z-index: 5;
            h2{
                max-width: 756px;
                font-family: 'Proxima Nova',sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 52px;
            }
    
            h3{
                margin-top: 20px;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 32px;
                max-width: 639px;
                color: #BFBFC1;
            }
        }

        .desktop{
            display: none;
        }

        .mobile{
            display: block;
            &-top{
                padding-left: 56px;
                display: flex;
                justify-content: space-between;

                img{
                    margin-right: 0;
                }
            }

            .swiper{
                position: relative;
                top: -100px;
                width: 100%;
            }
        }
    }
}

@media (max-width:930px) {
    .slider-section{
        padding-bottom: 300px;
    }
}

@media (max-width:690px) {
    .slider-section{
        padding-bottom: 314px;
        padding-top: 37px;

        .mobile{
            &-top{
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    
        img{
            display: none;
        }

        &__text{
            margin-right: 0px;
            position: relative;
            z-index: 5;

            h2{
                font-size: 24px;
                line-height: 32px;
                width: auto;
            }
    
            h3{
                width: auto;
                font-size: 15px;
                line-height: 24px;
            }
    
            button{
                margin-top: 20px;
                width: 129px;
                height: 54px;
                background: #184BFF;
                border-radius: 12px;
            }
        }

        .swiper{
            top: 80px !important;
        }

        .swiper-slide {
           height: 377px;
           width: 285px !important;
        }
    }
}