.presentation-thirdteenth{
    margin: 20px auto;
    padding: 35px;
    max-width: 1083px;
    min-height: 553px;
    background-color: #1b1b1f;
    border-radius: 20px;
    box-shadow: 0px 0px 14px -3px rgb(255 255 255 / 50%);

    .top{

        h3{
            font-family: 'Proxima Nova',sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 44px;
            line-height: 52px;
        }

        p{
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            color: #BFBFC1;
        }
    }

    .center{
        margin-left: -30px;

        img{
            width: 100%;
        }
    }

    .bot{
        p{
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            color: #BFBFC1;
        }
    }
}

@media (max-width: 800px) {
    .presentation-thirdteenth{
        background-size: 200px 400px;
        background-position: bottom right;
        min-height: auto;
        h2{
            font-weight: 800;
            font-size: 15px;
            line-height: 24px;
            letter-spacing: 0.23em;
            color: #AFC6FF;
            display: block;
            margin-top: 16px;
    
            span{
                font-size: 25px;
                line-height: 30px;
            }
        }

        img{
            margin-left: 15px;
        }

        h3{
            font-size: 25px !important;
            line-height: 30px;
        }

        p,div{
            font-size: 15px !important;

            svg{
                width: 15px !important;
                height: 15px !important;
            }
        }
    }
}