.presentation-seventh{
    margin: 0 auto;
    padding: 35px;
    max-width: 1083px;
    min-height: 553px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    background-image: url('../../../../assets/images/backgrounds/presentation-7.webp');
    background-repeat: no-repeat;
    background-position: right bottom;

   div{
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(14.5px);
        border-radius: 16px;
        padding: 30px;
        max-width: 518px;
        margin-bottom: 20px;

        h3{
            font-family: 'Proxima Nova',sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
        }

        p{
            margin-top: 20px;
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            color: #BFBFC1;
        }
   }
}

@media (max-width: 800px) {
    .presentation-seventh{
        background-size: 600px 400px;
        background-position: bottom;
        min-height: auto;
        h2{
            font-weight: 800;
            font-size: 15px;
            line-height: 24px;
            letter-spacing: 0.23em;
            color: #AFC6FF;
            display: block;
            margin-top: 16px;
    
            span{
                font-size: 25px;
                line-height: 30px;
            }
        }

        p{
            font-size: 15px !important;
        }
    }
}