.presentation-eighth{
    margin: 20px auto;
    padding: 35px;
    max-width: 1083px;
    min-height: 553px;
    background-color: #1b1b1f;
    border-radius: 20px;
    box-shadow: 0px 0px 14px -3px rgb(255 255 255 / 50%);

   div{
        .block{
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(14.5px);
            border-radius: 16px;
            padding: 25px;
            max-width: 518px;
            margin-bottom: 20px;

            p{
                margin-top: 10px;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                color: #BFBFC1;

                a{
                    color: #88a1fa;
                    border-bottom: 1px solid #88a1fa;
                }
            }
        }

        .video{
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(14.5px);
            border-radius: 16px;
            max-width: 518px;
            margin-bottom: 20px;
            height: 298px;

            iframe{
                border-radius: 16px;
                height: 100%;
                width: 100%;
                
                .ytp-title-link .yt-uix-sessionlink{
                    display: none;
                }
            }
        }
   }
}

@media (max-width: 450px) {
    .video{
        height: 200px !important;
    }
}