.presentation-fourth{
    background-image: url(../../../../assets/images/backgrounds/presentation-4.webp);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin: 30px auto;
    padding: 35px;
    max-width: 1083px;
    min-height: 553px;
    background-color: #1b1b1f;
    border-radius: 20px;
    box-shadow: 0px 0px 14px -3px rgb(255 255 255 / 50%);

    h2{
        font-weight: 800;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.23em;
        color: #AFC6FF;
        display: block;
        margin-top: 16px;

        span{
            display: flex;
            align-items: center;
            svg{
                margin-right: 10px;
            }

            font-family: 'Proxima Nova',sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 47px;
            line-height: 53px;
            color: #fff;
        }
    }

    h3{
        margin-top: 24px;
        font-family: 'Proxima Nova',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 32px;
    }

    p{
        margin-top: 24px;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: #BFBFC1;
        max-width: 500px;
    }

    div{
        margin-top: 24px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(49.5px);
        border-radius: 17px;
        font-family: 'Proxima Nova', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        padding: 24px 38px;
        max-width: 500px;
    }
}

@media (max-width: 1338px) {
    .presentation-fourth{
        .blur{
            background: rgba(255, 255, 255, 0.1);
            -webkit-backdrop-filter: blur(49.5px);
            backdrop-filter: blur(49.5px);
            border-radius: 17px;
            padding: 10px 20px;
        }
    }
}

@media (max-width: 800px) {
    .presentation-fourth{
        min-height: auto;
        background-size: 570px 370px;
        h2{
            font-weight: 800;
            font-size: 15px;
            line-height: 24px;
            letter-spacing: 0.23em;
            color: #AFC6FF;
            display: block;
            margin-top: 16px;
    
            span{
                font-size: 25px;
                line-height: 30px;
            }
        }

        p{
            font-size: 15px !important;
        }
    }
}