.breadcrumbs {
  display: flex;
  align-items: center;

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #717275;
  }

  svg {
    margin: 0 8px;
  }

  span {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
  }
}

@media (max-width: 690px) {
  .breadcrumbs {
    p {
      font-size: 12px;
    }

    span {
      font-size: 12px;
    }
  }
}
