.main-home-section{
    background-image: url('../../../assets/images/backgrounds/home-background.png');
    background-repeat: no-repeat;
    background-size: 123% 115%;
    background-position: -105px 2px;
    padding-bottom: 629px;

    &__content{
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 100px;

        h1{
            font-family: 'Proxima Nova', sans-serif;
            font-weight: 700;
            font-size: 64px;
            line-height: 64px;
            z-index: 100;
            position: relative;
    
            span{
                color: #AFC6FF;
                font-weight: 800;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 0.23em;
                text-transform: uppercase;
                font-family: 'Inter', sans-serif;
                margin-bottom: 12px;
            }
        }

        h2{
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            margin-top: 24px;
            color: #BFBFC1;
            z-index: 100;
            position: relative;
        }

        button{
            margin-top: 24px;
            width: 186px;
            height: 54px;
            background-color: #184BFF;
            z-index: 100;
            position: relative;
        }
    }
}

@media (min-width: 2200px) {
    .main-home-section{
        background-repeat: no-repeat;
        background-size: 122% 111%;
        background-position: -112px 9px;
        padding-bottom: 1028px;
    }
}

@media (max-width: 1400px) {
    .main-home-section{
        background-image: url('../../../assets/images/backgrounds/home-background-tablet.png');
        background-size: 100% 116%;
        background-position: inherit;
        padding-bottom: 605px;

        &__content{
            margin-right: 50px;
            padding-left: 50px;
        }
        
    }
}

@media (max-width: 940px) {
    .main-home-section{
        background-size: 100% 103%;
    }
}

@media (max-width: 690px) {
    .main-home-section{
        background-image: url('../../../assets/images/backgrounds/home-background-mobile.png');
        background-size: cover;
        background-position: 0px 50px;
        padding-bottom: 475px;

        &__content{
            margin-right: 15px;
            padding-left: 15px;
            padding-top: 24px;

            h1{
                font-size: 32px;
                line-height: 40px;
        
                span{
                    font-size: 14px;
                    line-height: 24px;
                }
            }
    
            h2{
                font-size: 15px;
                line-height: 24px;
            }
    
            button{
                font-size: 16px;
                line-height: 19px;
            }
        }
        
    }
}