.links{
    padding-left: 325px;
    padding-right: 48px;
    padding-bottom: 40px;

    &__header{
        display: flex;
        align-items: center;
        h2{
            font-family: 'Proxima Nova',sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 40px;
            margin-right: 16px;
        }

        div{
            background: rgba(165, 184, 255, 0.1);
            border-radius: 35px;
            font-family: 'Proxima Nova',sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: #AFC6FF;
            padding: 8px 14px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__info{
        margin-top: 24px;

        .text{
            h3{
                font-family: 'Proxima Nova',sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 32px;
            }
            p{
                margin-top: 8px;
                font-weight: 400;
                font-size: 16px;
                line-height: 134.52%;
                color: #717275;
                max-width: 480px;
            }
        }

        &-chart-partners{
            height: 280px;
            padding: 20px 15px;
            background: rgba(255, 255, 255, 0.05);
            border: 1px solid rgba(255, 255, 255, 0.05);
            box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.04);
            backdrop-filter: blur(21px);
            border-radius: 16px;

            .recharts-surface{
                .recharts-bar-rectangle{
                    path{
                        width: 17px !important;
                    
                    }
                }
            }

            .chart-partners__menu{
                display: flex;
                justify-content: space-between;

                .menu__range{
                    padding: 5px;
                    background: rgba(255, 255, 255, 0.1);
                    border: 1px solid rgba(255, 255, 255, 0.05);
                    border-radius: 7px;
                    width: 30%;

                    button{
                        width: 50%;
                        color: #fff;
                        height: 37px;
                        background-color: transparent;
                        border-radius: 8px;
                        color: #717275;

                        &.active{
                            background: #184BFF;
                            color: #fff;
                        }
                    }
                }

                select{
                    width: 30%;
                    padding: 12px 20px;
                    background: rgba(255, 255, 255, 0.1);
                    border: 1px solid rgba(255, 255, 255, 0.05);
                    border-radius: 7px;
                    color: #fff;

                    option{
                        color: #000;
                    }
                }
            }
        }

        &-stats{
            margin-left: 16px;

            &-top{
                display: flex;
                justify-content: space-between;

                & > div{
                    background: rgba(255, 255, 255, 0.05);
                    box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.04);
                    backdrop-filter: blur(21px);
                    border-radius: 16px;   
                    padding: 29px 10px 29px 32px; 
                    width: 32%;

                    div{
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        color: #BFBFC1;

                        svg{
                            margin-left: 10px;
                        }

                        p{
                            font-family: 'Proxima Nova',sans-serif;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 22px;
                            line-height: 26px;
                            color: #fff;
                        }

                        span{
                            font-family: 'Proxima Nova',sans-serif;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 22px;
                            color: #39EB8B;
                        }
                    }
                }
            }

            &-bot{
                display: flex;
                justify-content: space-between;
                height: 135px;
                background: rgba(255, 255, 255, 0.05);
                box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.04);
                backdrop-filter: blur(21px);
                border-radius: 16px; 
                margin-top: 18px;  
                overflow: hidden;

                .bot-info{
                    padding: 29px 15px 29px 32px; 
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: #BFBFC1;

                    svg{
                        margin-left: 10px;
                    }

                    p{
                        font-family: 'Proxima Nova',sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 22px;
                        line-height: 26px;
                        color: #fff;
                    }

                    span{
                        font-family: 'Proxima Nova',sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 22px;
                        color: #39EB8B;
                    }
                }

                .chart{
                    width: 60%;
                    height: 100%;
                }
            }
        }
    }
}

@media (max-width: 1400px) {
    .links{
        &__info{
            &-stats{
                margin-left: 0px;
                margin-top: 16px;
            }
        }

        .text{
            display: none;
        }
    }
}

@media (max-width: 1220px) {
    .links{
        padding-left: 232px;
        padding-right: 20px;
    }
}

@media (max-width: 800px) {
    .links{
        padding-left: 15px;
        padding-right: 15px;

        &__header{
            h2{
                font-size: 24px;
                line-height: 32px;
            }
    
            div{
                font-size: 16px;
                line-height: 19px;
            }
        }
    }
}

@media (max-width: 690px) {
    .links{
        &__info{
            margin-top: 14px;
    
            &-chart-partners{
                .chart-partners__menu{
                    .menu__range{
                        width: 48%;
                    }
    
                    select{
                        width: 48%;
            
                        &:nth-child(2){
                            display: none;
                        }
                    }
                }
            }
    
            &-stats{ 
                &-top{
                    display: flex;
                    justify-content: space-between;
    
                    & > div{
                        padding: 15px;
                        div{
                            svg{
                                display: none;
                            }
                        }
                    }
                }
    
                &-bot{
                    height: 100px;
    
                    .bot-info{
                        padding: 15px; 
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        color: #BFBFC1;
    
                        svg{
                            margin-left: 10px;
                        }
    
                        p{
                            font-family: 'Proxima Nova',sans-serif;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 22px;
                            line-height: 26px;
                            color: #fff;
                        }
    
                        span{
                            font-family: 'Proxima Nova',sans-serif;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 22px;
                            color: #39EB8B;
                        }
                    }
    
                    .chart{
                        width: 60%;
                        height: 100%;
                    }
                }
            }
        }
    }
}