.stats-modal {
  overflow: hidden;

  .modal-content {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(24.5px);
    border-radius: 16px;
    width: 687px;
    height: 798px;
    padding: 25px;

    .close {
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }

    .title {
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
      padding-bottom: 14px;

      h3 {
        display: flex;
        align-items: center;
        font-family: "Proxima Nova", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #fff;

        svg {
          margin-right: 10px;
        }
      }

      p {
        margin-top: 13px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
      }
    }

    .circles {
      position: relative;
      margin-top: 35px;
      width: 100%;
      height: 280px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      img {
        position: absolute;
        top: 0;
        left: 0;
      }

      .circle {
        width: 280px;
        height: 5px;
        border-radius: 5px;
        cursor: pointer;

        &.red {
          background-color: #ff3f3f;
        }

        &.orange {
          background-color: #ff843f;
        }

        &.yellow {
          background-color: #f0ff3f;
        }

        &.purple {
          background-color: #aa3fff;
        }

        &.blue {
          background-color: #3f69ff;
        }

        &.lightblue {
          background-color: #3fd1ff;
        }

        &.green {
          background-color: #2ce68d;
        }

        &.pink {
          background-color: #e62ca7;
        }
      }
    }

    .items {
      margin-top: 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .item {
        display: flex;
        justify-content: space-between;
        padding: 0px 20px;
        width: 49%;
        height: 64px;
        display: flex;
        align-items: center;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 12px;
        margin-bottom: 4px;

        &-block {
          display: flex;
          align-items: center;
        }

        &-color {
          margin-right: 10px;
          border-radius: 12px;
          width: 24px;
          height: 24px;

          &.red {
            background-color: #ff3f3f;
          }

          &.orange {
            background-color: #ff843f;
          }

          &.yellow {
            background-color: #f0ff3f;
          }

          &.purple {
            background-color: #aa3fff;
          }

          &.blue {
            background-color: #3f69ff;
          }

          &.lightblue {
            background-color: #3fd1ff;
          }

          &.green {
            background-color: #2ce68d;
          }

          &.pink {
            background-color: #e62ca7;
          }
        }

        &-name {
          font-family: "Proxima Nova", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          color: #fff;
        }

        &-stats {
          p {
            &:nth-child(1) {
              font-family: "Proxima Nova", sans-serif;
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              line-height: 22px;
              color: #fff;
            }

            &:nth-child(2) {
              font-weight: 400;
              font-size: 14px;
              line-height: 17px;
              color: rgba(255, 255, 255, 0.6);
            }
          }
        }
      }
    }

    button {
      width: 100%;
      height: 54px;
      margin-top: 17px;
      background: linear-gradient(
        90deg,
        #247bfe 0%,
        #4e79fe 6.25%,
        #6676fe 12.5%,
        #7974fe 18.75%,
        #8972fe 25%,
        #976ffe 31.25%,
        #a36dfe 37.5%,
        #ae6afe 43.75%,
        #b967ff 50%,
        #c264ff 56.25%,
        #cb61ff 62.5%,
        #d45eff 68.75%,
        #dc5bff 75%,
        #e458ff 81.25%,
        #eb54ff 87.5%,
        #f251ff 93.75%,
        #f94dff 100%
      );
      /* Primary */

      box-shadow: 10px -14px 36px rgba(240, 83, 255, 0.33),
        -15px 9px 32px rgba(107, 70, 255, 0.6);
    }
  }
}

@media (max-width: 800px) {
  .stats-modal {
    .modal-content {
      height: auto;

      .items {
        flex-direction: column;

        .item {
          width: 100%;
        }
      }
    }
  }
}
