.learning-tools {
  padding-left: 325px;
  padding-right: 48px;
  padding-bottom: 40px;

  &__navigate {
    display: flex;
    align-items: center;

    svg {
      margin-right: 15px;
    }

    span {
      font-family: "Proxima Nova", sans-serif;
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
    }
  }
}

@media (max-width: 1280px) {
  .learning-tools {
    padding-left: 232px;
    padding-right: 20px;
  }
}

@media (max-width: 800px) {
  .learning-tools {
    padding-left: 15px;
    padding-right: 15px;
  }
}
